h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 150px;
  font-weight: 100;
  color: pink;
  text-align: center;
}

p {
  font-family: monospace;
  text-align: center;
}

h2 {
  font-family: monospace;
}

h3 {
  font-family: monospace;
}

body {
  background: #febbbb; /* Old browsers */
  background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
}

audio {
  width: 350px;
}

ul {
  font-style: bold;
  font-family: monospace;
  font-size: 25px;
}

a {
  cursor: url("https://i.gifer.com/ZUiY.gif"), default;
}
